* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  font-family: "Work Sans", sans-serif;
  width: 100%;
}

.container .section-main {
  height: 100vh;
  width: 100%;
}

.container .section-main .main {
  width: 100%;
  height: 100vh;
  background: url(./imgs/guitar-img.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  object-fit: cover;
  background-size: 100% 100%;
}

.container .section-main .main .nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 25px;
  height: 80px;
}

.container .section-main .main .nav .nav-items {
  display: flex;
  align-items: center;
  gap: 25px;
}

.container .section-main .main .nav .nav-items .nav-logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.container .section-main .main .nav .nav-items .nav-logo .logo {
  width: 39px;
  height: 40px;
}

.container .section-main .main .nav .nav-items .nav-logo .logo-name {
  font-size: 27px;
  color: #fff;
  font-weight: 700;
}

.container .section-main .main .nav .nav-items .nav-logo .logo-name_part {
  font-weight: 500;
}

.container .section-main .main .nav .nav-items .menu {
  display: flex;
  gap: 25px;
}

.container .section-main .main .nav .nav-items .menu .menu-items {
  color: #fff;
  font-size: 18px;
  text-decoration: none;
  cursor: pointer;
  position: relative;
}

.container .section-main .main .nav .nav-items .menu .menu-items::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background-color: #fff;
  bottom: 0;
  left: 0;
  transition: all 0.5s ease;
}

.container .section-main .main .nav .nav-items .menu .menu-items:hover::after {
  width: 100%;
  left: 0;
}

.container .section-main .main .nav .nav-box .box-img,
.person-img {
  width: 23px;
  height: 24px;
  margin: 0 7px;
}

.container .section-main .main .main-content {
  display: flex;
  align-items: center;
  height: 70%;
  width: 40%;
}

.container .section-main .main .main-content .content-text {
  font-size: 56px;
  font-weight: 700;
  color: #fff;
  padding-left: 25px;
}

.container .section-main .nav .nav-line {
  display: none;
}

.container .section-main .nav .nav-line .line {
  display: block;
  background-color: #fff;
  width: 24px;
  height: 2px;
  margin: 3px 0;
}

.container .section-box {
  background-image: url(./imgs/picture-guitar.jpg);
  width: 80%;
  height: 280px;
  margin: 0 auto;
  position: relative;
  bottom: 120px;
  border-radius: 10px;
}

.container .section-box .box-img_overlay {
  position: absolute;
  border-radius: 10px;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(171, 4, 51, 0.8);
}

.container .section-box .section-box_content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100%;
  gap: 25px;
}

.container .section-box .section-box_content .section-box_title {
  color: #fff;
  font-size: 46px;
  font-weight: 700;
}

.container .section-box .section-box_content .section-box_text {
  color: #fff;
  font-weight: 600;
  font-size: 24px;
  width: 49%;
  text-align: center;
  line-height: 38px;
}

.container .section-box .section-box_content .box-btn {
  border: none;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  background-color: #ff753a;
  width: 143px;
  height: 36px;
  border-radius: 32px;
  cursor: pointer;
}

.container .section-box .section-box_content .box-btn:hover {
  background-color: #be5426;
}

.container .section-new_goods {
  height: 90vh;
}

.container .section-new_goods .goods-title {
  margin-top: 220px;
  text-align: center;
  color: #505050;
  font-size: 40px;
  font-weight: 700;
  position: relative;
  padding: 15px 0;
}

.container .section-new_goods .goods-title::after {
  content: "";
  position: absolute;
  width: 81px;
  height: 3px;
  background-color: #ab0433;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 0;
}

.container .section-new_goods .cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 300px));
  grid-template-rows: repeat(1, 417px);
  justify-content: space-evenly;
  gap: 15px;
}

.container .section-new_goods .cards .goods-card {
  display: flex;
  flex-direction: column;
  gap: 15px;
  box-shadow: 0px 20px 53px -13px rgba(124, 124, 124, 0.13);
  border-radius: 10px;
}

.container .section-new_goods .cards .goods-card .card-img {
  width: 400px;
  height: 252px;
  position: relative;
  background: rgb(211, 211, 211);
  background: radial-gradient(
    circle,
    rgba(211, 211, 211, 1) 0%,
    rgba(251, 251, 251, 1) 100%
  );
}

.container .section-new_goods .cards .goods-card .card-img .img {
  position: absolute;
  width: 364px;
  height: 260px;
  bottom: 15px;
  left: 0;
}

.container .section-new_goods .cards .goods-card .card-title {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
}

.container .section-new_goods .cards .goods-card .card-title .title,
.money {
  font-size: 18px;
  color: #252525;
  font-weight: 600;
  margin-top: 15px;
}

.container .section-new_goods .cards .goods-card .card-text {
  width: 80%;
  font-size: 16px;
  font-weight: 500;
  color: #767676;
  margin: 0 auto;
}

.container .section-new_goods .cards .goods-card .card-color {
  border: 1px solid rgb(194, 191, 191);
  display: flex;
  align-items: center;
  margin-left: 40px;
  width: 30%;
  padding: 2px 5px;
  border-radius: 15px;
}

/* sdgjsgjsdg */

.container .section-new_goods .cards .goods-card .card-color.value {
  font-size: 18px;
  font-weight: 700;
  color: #242424;
}

.container .section-new_goods .cards .goods-card .card-color .color {
  font-size: 12px;
  font-weight: 700;
  color: #242424;
  margin-left: 5px;
}

.container .section-new_thingss {
  height: 90vh;
  background-color: #ececec;
  width: 100%;
  padding: 40px 0;
}

.container .section-new_thingss .things-title {
  text-align: center;
  color: #505050;
  font-size: 40px;
  font-weight: 700;
  position: relative;
  padding: 15px 0;
}

.container .section-new_thingss .things-title::after {
  content: "";
  position: absolute;
  width: 81px;
  height: 3px;
  background-color: #ab0433;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 0;
}

.container .section-new_thingss .things-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 350px));
  grid-template-rows: repeat(1, 417px);
  justify-content: space-evenly;
  align-items: center;
  gap: 15px;
}

.container .section-new_thingss .things-cards .cards {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  cursor: pointer;
  gap: 15px;
  margin: auto;
  padding: 25px 0;
}

.container .section-new_thingss .things-cards .cards .card-img {
  width: 400px;
  height: 252px;
}

.container .section-new_thingss .things-cards .cards .card-img .img {
  width: 100%;
  height: 100%;
}

.container .section-new_thingss .things-cards .cards .card-title {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
}

.container .section-new_thingss .things-cards .cards .card-title .title,
.money {
  font-size: 18px;
  color: #252525;
  font-weight: 600;
  margin-top: 15px;
}

.container .section-new_thingss .things-cards .cards .card-text {
  color: #767676;
  font-size: 16px;
  font-weight: 500;
  width: 80%;
  margin: 0 auto;
}

.container .section-new_thingss .things-cards .cards .card-color {
  border: 1px solid rgb(194, 191, 191);
  display: flex;
  align-items: center;
  margin-left: 40px;
  width: 30%;
  padding: 2px 5px;
  border-radius: 15px;
}

.container .section-new_thingss .things-cards .cards .card-color .value {
  font-size: 18px;
  font-weight: 700;
  color: #242424;
}

.container .section-new_thingss .things-cards .cards .card-color .color {
  font-size: 12px;
  font-weight: 700;
  color: #242424;
  margin-left: 5px;
}

.container .section-head {
  height: 110vh;
}

.container .section-head .head-title {
  text-align: center;
  margin-top: 30px;
  color: #505050;
  font-size: 40px;
  font-weight: 700;
  position: relative;
  padding: 15px 0;
}

.container .section-head .head-title::after {
  content: "";
  position: absolute;
  width: 81px;
  height: 3px;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 0;
}

.container .section-head .head-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(609px, 1fr));
  grid-template-rows: repeat(1, 648px);
  gap: 15px;
}

.container .section-head .head-cards .box-cards {
  display: flex;
  flex-direction: column;
  width: 616px;
  height: 609px;
  margin: auto;
  cursor: pointer;
  background-color: #eaeaea;
  border-radius: 10px;
}

.container .section-head .head-cards .box-cards:hover {
  background-color: #252525;
  border-radius: 10px;
}

.container .section-head .head-cards .box-cards .box-cards_content {
  padding: 25px;
}

.container .section-head .head-cards .box-cards .box-cards_content .title {
  color: #202020;
  font-weight: 700;
  font-size: 24px;
}

.container
  .section-head
  .head-cards
  .box-cards
  .box-cards_content:hover
  .title {
  color: #fff;
}

.container .section-head .head-cards .box-cards .box-cards_content .subtitle {
  color: #767676;
  font-weight: 700;
  font-size: 18px;
  padding: 7px 0;
}

.container
  .section-head
  .head-cards
  .box-cards:hover
  .box-cards_content
  .title {
  color: #fff;
}

.container
  .section-head
  .head-cards
  .box-cards:hover
  .box-cards_content
  .subtitle {
  color: #fff;
}

.container .head-small_cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-template-rows: repeat(1, 602px);
  height: 100vh;
}

.container .head-small_cards .small-cards {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  height: 100%;
  width: 400px;
  gap: 25px;
  background-color: #252525;
  border-radius: 10px;
  cursor: pointer;
}

.container .head-small_cards .small-cards:hover {
  background-color: #eaeaea;
}

.container .head-small_cards .small-cards .cards-img {
  height: 80%;
  width: 100%;
}

.container .head-small_cards .small-cards .card-content {
  padding-left: 25px;
}

.container .head-small_cards .small-cards .card-content .title {
  color: #fff;
  font-size: 24px;
  font-weight: 700;
}

.container .head-small_cards .small-cards .card-content .subtitle {
  color: #fff;
  font-weight: 600;
  font-size: 18px;
}

.container .head-small_cards .small-cards:hover .card-content .title {
  color: #252525;
}

.container .head-small_cards .small-cards:hover .card-content .subtitle {
  color: #767676;
}

.container .footer {
  height: 35vh;
  background-color: #505050;
  width: 100%;
  padding: 45px;
}

.container .footer .footer-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.container .footer .footer-box .footer-box_content {
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container
  .footer
  .footer-box
  .footer-box_content
  .footer-content
  .content-title {
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  position: relative;
  padding: 9px 0;
}

.container
  .footer
  .footer-box
  .footer-box_content
  .footer-content
  .content-title::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 58px;
  height: 1.5px;
  background-color: #fff;
}

.container
  .footer
  .footer-box
  .footer-box_content
  .footer-content
  .content-items
  .content-item {
  list-style: none;
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  padding: 5px 0;
}

.container .footer .footer-box .footer-network {
  width: 30%;
  text-align: right;
}

.container .footer .footer-box .footer-network .network-logo {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.container .footer .footer-box .footer-network .network-logo .logo {
  width: 39px;
  height: 40px;
  margin-right: 5px;
}

.container .footer .footer-box .footer-network .network-logo .logo-title {
  font-size: 27px;
  font-weight: 700;
  color: #fff;
}

.container
  .footer
  .footer-box
  .footer-network
  .network-logo
  .logo-title
  .logo-title_part {
  font-weight: 500;
}

.container .footer .footer-box .footer-network .network-icons .icon {
  width: 22px;
  height: 16px;
  margin: 7px 5px;
}

@media (max-width: 759px) {
  .container .section-main {
    height: 55vh;
  }

  .container .section-main .main {
    background-image: url(./imgs/phone-img.png);
    height: 55vh;
  }
  .container .section-head .head-cards {
    grid-template-rows: repeat(1, 717px);
    gap: 15px;
  }

  .container .section-main .main .nav .nav-items .menu {
    display: none;
  }

  .container .section-main .main .nav-box {
    display: none;
  }

  .container .section-main .main .nav-line {
    display: block;
  }

  .container .section-main .main .main-content {
    width: 50%;
    text-align: center;
    margin: 0 auto;
  }

  
  .container .section-box .section-box_content .section-box_title{
    font-size: 21px;
    text-align: center;
    width: 50%;
    line-height: 27px;
  }

  .container .section-box .section-box_content .section-box_text{
    font-size: 10px;
    width: 50%;
    line-height: 20px;
  }

  .container .section-main .main .main-content .content-text{
    font-size: 32px;
  }

  .container
    .section-main
    .section-box
    .box-img_overlay
    .section-box_content
    .section-box_text {
    width: 100%;
  }

  .container .section-head .head-cards .box-cards {
    width: 400px;
    height: auto;
  }

  .container .section-new_goods {
    height: 100vh;
  }

  .container .section-new_thingss {
    height: 110vh;
  }

  .container .head-small_cards {
    height: 138vh;
    padding: 25px;
    gap: 25px;
  }

  .container .footer {
    height: 20vh;
  }

  .container .footer .footer-box {
    flex-direction: column;
    padding: 0;
  }

  .container
    .footer
    .footer-box
    .footer-box_content{
      display: block;
    }

  .container
    .footer
    .footer-box
    .footer-box_content
    .footer-content:nth-child(2) {
    display: none;
  }

  .container
  .footer
  .footer-box
  .footer-box_content
  .footer-content
  .content-title::after{
    left: 30%;
  }

  .container .footer .footer-box .footer-network .network-logo {
    display: none;
  }

  .container .footer .footer-box .footer-network {
    text-align: center;
    width: 40%;
  }

  

  .container .footer .footer-box .footer-box_content {
    align-items: baseline;
    width: 40%;
  }


}

@media (min-width: 760px) and (max-width: 814px) {
  .container .section-main {
    height: 55vh;
  }

  .container .section-main .main {
    background-image: url(./imgs/phone-img.png);
    height: 55vh;
  }
  .container .section-head .head-cards {
    grid-template-rows: repeat(1, 717px);
    gap: 15px;
  }

  .container .section-main .main .nav .nav-items .menu {
    display: none;
  }

  .container .section-main .main .nav-box {
    display: none;
  }

  .container .section-main .main .nav-line {
    display: block;
  }

  .container .section-main .main .main-content {
    width: 75%;
    text-align: center;
    margin: 0 auto;
  }

  .container
    .section-main
    .section-box
    .box-img_overlay
    .section-box_content
    .section-box_text {
    width: 80%;
  }

  .container .section-new_goods {
    height: 100vh;
  }

  .container .section-new_thingss {
    height: 110vh;
  }

  .container .head-small_cards {
    height: 138vh;
    padding: 25px;
    gap: 25px;
  }

  .container .footer {
    height: 20vh;
  }

  .container .footer .footer-box .footer-box_content {
    align-items: baseline;
    width: 40%;
  }
}

@media (min-width: 815px) and (max-width: 1024px) {
  .container .section-main {
    height: 55vh;
  }

  .container .section-main .main {
    background-image: url(./imgs/phone-img.png);
    height: 55vh;
  }

  .container .section-main .main .nav .nav-items .menu {
    display: none;
  }

  .container .section-main .main .nav-box {
    display: none;
  }

  .container .section-main .main .nav-line {
    display: block;
  }

  .container .section-new_goods {
    height: 72vh;
  }

  .container .section-main .main .main-content {
    width: 75%;
    text-align: center;
    margin: 0 auto;
  }

  .container
    .section-main
    .section-box
    .box-img_overlay
    .section-box_content
    .section-box_text {
    width: 80%;
  }

  .container .section-new_thingss {
    height: 76vh;
  }

  .container .head-small_cards {
    padding: 25px;
    gap: 25px;
  }

  .container .footer {
    height: 20vh;
  }

  .container .footer .footer-box .footer-box_content {
    align-items: baseline;
    width: 40%;
  }
}

@media (min-width: 1025px) and (max-width: 1224px) {
  .container .section-main {
    height: 54vh;
  }

  .container .section-main .main {
    height: 54vh;
  }

  .container .section-main .main .main-content {
    width: 43%;
  }

  .container .section-new_thingss {
    height: 80vh;
  }

  .container .section-new_thingss .things-cards .cards {
    margin: 20px auto;
  }

  .container .section-new_thingss .things-cards {
    margin-top: 35px;
  }

  .container .section-new_goods {
    height: 72vh;
  }

  .container .section-new_goods .goods-card {
    margin: 15px 0;
  }

  .container .section-head .head-cards {
    grid-template-columns: repeat(auto-fit, minmax(460px, 1fr));
  }

  .container .section-head .head-cards .box-cards {
    width: 431px;
  }

  .container .section-head .head-cards .box-cards .box-img {
    height: 100%;
  }

  .container .section-head {
    height: 60vh;
  }

  .container .head-small_cards {
    height: 100vh;
    padding: 25px;
    gap: 25px;
  }

  .container .footer {
    height: 20vh;
  }
}

@media (min-width: 1440px) {
  .container .section-main {
    max-height: 80vh;
  }

  .container .section-main .main {
    background-size: contain;
    background-attachment: fixed;
    height: 60%;
    background-color: #ab0433;
  }

  .container .section-new_goods .goods-title {
    margin: 0;
  }

  .container .section-new_goods {
    height: 50vh;
  }
  .container .section-new_thingss {
    height: 50vh;
  }
  .container .section-head {
    height: 55vh;
  }
  .container .head-small_cards {
    margin-top: 20px;
    height: 50vh;
  }
  .container .footer {
    height: 20vh;
  }
}
